body {
    width: min(100%, 100ch);
    margin: 3rem auto;
    background-color: var(--background);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
    }
}


/* Button */
a {
    font-weight: 500;
    color: blue;
    text-underline-offset: .25rem;
    transition: text-underline-offset .15s ease;
}

a:hover {
    text-underline-offset: .35rem;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    padding: .75rem 1.25rem;
    box-shadow: var(--shadow-elevation-medium);
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn:hover:not(:disabled) {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    transform: translateY(-1px);
}

/* Skeleton */
.skeleton {
    --block: hsl(0, 0%, 96%);
    --loader: hsl(0, 0%, 85%);
    background: linear-gradient(
            -75deg,
            transparent 40%,
            var(--loader),
            transparent 60%
    ) 0 0 / 200% 100%,
    var(--block);
    animation: load 2s infinite linear;
    background-attachment: fixed;
}

/* Grid */

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .75rem;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

/* Description list */
dl {
    display: grid;
    grid-template-columns: 25ch 1fr;
    gap: 0;
    border: 1px solid var(--separator);
}

dd,
dt {
    padding-block: 1rem;
    margin: 0;
}

dd,
dt {
    padding-inline-start: 1rem;
}

dt:nth-of-type(2n) {
    background-color: #fafafa;
}

dd:nth-of-type(2n) {
    background-color: #fafafa;
}